@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #474747;
  border-radius: 8px;
  background-color: #fff;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info p {
  margin: 0 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #6e6e6e;
}

.item{
    display: flex;
    flex-direction: row;
}

.list{
    padding: 0;
}